@use 'theme-colors';
@use 'sass:math';
@use 'sass:color';

$opacity-bg-link: 1;
$opacity-left: 0.6;
$opacity-right: 0.4;
$basics-gap: 0.25rem;
$panel-padding: 1rem;
$left-accent-width: 4px;



body.anime-page {
  // These are for the left sidebar
  --fallback-bg-link-active: color.change(theme-colors.$link-active, $alpha: $opacity-bg-link);
  --fallback-bg-link-hover: color.change(theme-colors.$link-hover, $alpha: $opacity-bg-link);
  --opacity-bg-link: #{math.percentage($opacity-bg-link)};

  --opacity-left: #{math.percentage($opacity-left)};
  --opacity-right: #{math.percentage($opacity-right)};

  background: transparent;

  background: url('../img/anime.30.webp');
  background-size: cover;
  //background: url('../img/home.60.webp');
  //background-size: cover;
}


.anime-page .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1 1 auto;
}

.anime-info {
  width: 100%;
  max-width: 22rem;
}

.anime-details {
  padding: $panel-padding;

  background: color.change(theme-colors.$bg-primary, $alpha: $opacity-left);
  background: rgb(from var(--color-bg-primary) r g b / var(--opacity-left));

  .anime-title {
    font-size: 1.5rem;
  }

  .basics {
    display: flex;
    gap: $basics-gap;
    color: var(--color-text-secondary);

    span:not(:first-child)::before {
      content: "•";
      margin-right: $basics-gap;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .synopsis {
    margin-top: 0.5rem;
    color: var(--color-text-secondary);
  }
}

.continue-play-btn {
  width: 100%;
  margin-top: 0.5rem;
}

.continue-play {
  font-size: 1.5em;
}

.continue-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.series-details {
  display: grid;
  grid-template-columns: 9ch auto;

  margin-top: 1rem;
  padding: $panel-padding;

  background: color.change(theme-colors.$bg-primary, $alpha: $opacity-left);
  background: rgb(from var(--color-bg-primary) r g b / var(--opacity-left));

  .attribute {
    color: var(--color-text-secondary);
  }
}

.anime-body {
  max-width: 850px;
  flex: 1 1 auto;
  padding: $panel-padding;

  background: color.change(theme-colors.$bg-primary, $alpha: $opacity-left);
  background: rgb(from var(--color-bg-primary) r g b / var(--opacity-left));

  .tabs {
    display: flex;

  }

  .tab {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    color: var(--color-text-secondary);
    cursor: pointer;
    font-size: 1.25em;

    &:hover:not(.active) {
      border-bottom: 2px solid var(--color-link);
    }

    &.active {
      border-bottom: 2px solid var(--color-primary);
      color: var(--color-text-primary);
      font-weight: bold;
    }
  }

  .seasons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .season {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;

    cursor: pointer;

    .season-title {

    }

    .season-episode-count {

    }

    &:hover:not(.active) {
      border: 1px solid var(--color-link);
      background: rgb(from var(--color-primary) r g b / 5%);
    }

    &.active {
      border: 1px solid var(--color-primary);
      background: rgb(from var(--color-primary) r g b / 15%);

      .season-episode-count {
        color: var(--color-link);
      }
    }

  }
}

.episode-list {
  margin-top: 1rem;
}

.episode-row {
  display: grid;
  grid-template-columns: 4ch 128px 1fr 7ch 8ch 18ch 5ch;
  grid-gap: 0.5rem;

  padding: 0.33rem 1rem;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: rgb(from var(--color-bg-primary) r g b / 40%);
  }

  &:nth-child(even) {
    background-color: rgb(from var(--color-bg-secondary) r g b / 40%);
  }

  &:hover:not(.not-released) {
    background-color: rgb(from var(--color-bg-tertiary) r g b / 40%);
  }

  & > * {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.episode-number, .episode-row .duration, .episode-row .quality {
  justify-content: center;
}

.episode-title {
  font-weight: normal;
  font-size: 1.1rem;
}

.episode-status {
  svg {
    width: 1.5rem;
    height: auto;
  }

  .watching-icon {
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    border-radius: 50%;
    border: 1px solid var(--color-border);

    padding: 0.25rem 0.5rem;
  }

}

.watched {
  border-left: $left-accent-width solid var(--color-success);

  &:nth-child(odd) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-primary) 90%, var(--color-success) 10%) r g b / 40%);
  }

  &:nth-child(even) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-secondary) 90%, var(--color-success) 10%) r g b / 40%);
  }

  &:hover:not(.not-released) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-tertiary) 90%, var(--color-success) 10%) r g b / 40%);
  }

  .episode-status {
    color: var(--color-success);
    svg {
      color: var(--color-success);
    }
  }
}


.current {
  border-left: $left-accent-width solid var(--color-primary);

  &:nth-child(odd) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-primary) 90%, var(--color-primary) 10%) r g b / 40%);
  }

  &:nth-child(even) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-secondary) 90%, var(--color-primary) 10%) r g b / 40%);
  }

  &:hover:not(.not-released) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-tertiary) 90%, var(--color-primary) 10%) r g b / 40%);
  }

  .episode-status {
    color: var(--color-link);
  }
}

.unwatched {
  color: var(--color-text-secondary);
  border-left: $left-accent-width solid var(--color-text-secondary);

  .episode-preview {
    filter: saturate(0.7) brightness(0.77) blur(8px);
  }

  .episode-status {
  }
}

.unavailable {
  color: var(--color-text-muted);
  border-left: $left-accent-width solid var(--color-warning);

  &:nth-child(odd) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-primary) 90%, var(--color-warning) 10%) r g b / 40%);
  }

  &:nth-child(even) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-secondary) 90%, var(--color-warning) 10%) r g b / 40%);
  }

  &:hover:not(.not-released) {
    background-color: rgb(from color-mix(in srgb, var(--color-bg-tertiary) 90%, var(--color-warning) 10%) r g b / 40%);
  }

  .episode-preview {
    filter: saturate(0.5) brightness(0.8) contrast(0.8) blur(2px);
  }

  .episode-status {
    color: var(--color-warning);
  }
}

.not-released {
  color: var(--color-text-disabled);
  border-left: $left-accent-width solid var(--color-text-disabled);
  cursor: no-drop;
  .episode-preview {
    filter: grayscale(1) brightness(0.33) contrast(0.8) blur(2px);
  }

  .episode-status {
    svg {
    }
  }
}


.episode-preview {
  width: 128px;
  height: 64px;
  object-fit: cover;
  object-position: center;
}

// ---------------
// More shared CSS down here

.panel {
  border-radius: 0.4rem;
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-primary);
}