@use "sass:color";
@use "sass:math";
@use "variables";
@use "theme-colors";

$opacity-bg-link: 0.2;
$opacity-left: 0.6;
$opacity-right: 0.4;

$panel-gap: 1rem;

$sidebar-width: variables.$logo-width;
$sidebar-quote-height: 200px;
$utility-width: 300px;

$content-padding: 1rem;
$sidebar-padding: 0.5rem;

body.home-page {
  background: transparent;

  --opacity-bg-link: #{math.percentage($opacity-bg-link)};
  --opacity-left: #{math.percentage($opacity-left)};
  --opacity-right: #{math.percentage($opacity-right)};
}

.home-bg {
  background: url('../img/home.60.webp');
  background-size: cover;
}

.panel {
  border-radius: 0.4rem;
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-primary);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: $panel-gap;
  width: $sidebar-width;
}

.navbar-side {
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
  flex: 1;
  padding: $sidebar-padding;

  background: color.change(theme-colors.$bg-primary, $alpha: $opacity-left);
  background: rgb(from var(--color-bg-primary) r g b / var(--opacity-left));
}

.sidebar-quote {
  font-family: "badscript", variables.$font-family;
  text-align: center;
}

.sidebar-link {
  color: var(--color-text-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;

  &.active {
    color: var(--color-text-primary);
    // Older browsers doesn't get dynamic theme for some things :(
    background-color: color.change(theme-colors.$link-active, $alpha: $opacity-bg-link);
    background-color: rgb(from var(--color-link-active) r g b / var(--opacity-bg-link));
  }

  &:hover:not(.active) {
    color: var(--color-text-primary);
    background-color: color.change(theme-colors.$link-hover, $alpha: $opacity-bg-link);
    background-color: rgb(from var(--color-link-hover) r g b / var(--opacity-bg-link));
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 400px;
}

.episodes-feed, .animes {
  display: flex;
  flex-direction: column;
  padding: $content-padding;
  background: linear-gradient(90deg, color.change(theme-colors.$bg-primary, $alpha: $opacity-left), color.change(theme-colors.$bg-primary, $alpha: $opacity-right));
  background: linear-gradient(90deg, rgb(from var(--color-bg-primary) r g b / var(--opacity-left)), rgb(from var(--color-bg-primary) r g b / var(--opacity-right)));

  height: 175px;

  h2 {
    font-size: 1.25em;
  }
}

.season-info {
  display: flex;
  gap: 1rem;

  h2 {
    font-size: 1.25em;
  }
}

.season-timespan {
  display: flex;
  align-items: center;
  color: var(--color-text-muted);
  font-size: 0.85em;
}

.episodes-feed {
  margin-top: 0.75rem;
}

.animes {
  flex: 1;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

}

.animes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

  margin-top: 0.75rem;
}

.anime-card {
  height: 200px;
}

.utility {
  display: flex;
  flex-direction: column;

  width: 300px;
  padding: $sidebar-padding;

  background: rgb(from var(--color-bg-primary) r g b / var(--opacity-right));
}