{% extends "layout.html" %}

{% block content %}
<div id="filters" class="filters">
    <span class="filter-subtitles filter-button" title="Filter subtitle files">🖺</span>
</div>
<ul class="item-list">
    {% for dir in directories %}
    <li class="item-card item-directory">
        <a class="item-body" href="{{ dir.url }}" data-file-path="{{ dir.filepath }}">
            <img src="/static/img/directory.svg" alt="directory image for {{ dir.url }}">
            {{ dir.url }}
        </a>
        <div class="item-actions">
            <form class="delete-form" method="POST" action="delete_path/{{dir.url}}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    </li>
    {% endfor %}

    {% for file in files %}
    <li class="item-card item-file">
        <a class="item-body" href="{{ file.url }}" data-file-path="{{ file.filepath }}">
            <img src="/static/img/file.svg" alt="file image for {{ file.url }}">
            {{ file.url }}
        </a>
        <div class="item-actions">
            <form class="delete-form" method="POST" action="delete_path/{{file.url}}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    </li>
    {% endfor %}
</ul>

<hr>
{% include "partials/upload_form.html" %}
{% endblock %} 