<div class="sidebar">
  <nav class="navbar-side panel">
    <a href="#/" class="sidebar-link active">🏠 Home</a>
    <a href="#/seasons" class="sidebar-link">🗓️ Seasons</a>
  </nav>
  <div class="sidebar-quote">
    <span>A little anime brightens the day 🩷</span>
  </div>
</div>

<div class="content">
  <section class="anime-info">
    <div class="anime-details">
      <img alt="Anime poster" class="poster">
      <h1 class="title">The best anime</h1>
      <div class="basics">
        <span class="runtime">2020 - 2023</span>
        <span class="seasons">3 Seasons</span>
        <span class="tags">Romance, Comedy</span>
      </div>
      <div class="synopsis">
        This anime is simply the best. It has the best footage, the best jokes, the best romance.
        This anime will make all other animes bland.
        <br>
        Once you see it, you'll never want it to end.
        <br>
        Sadly it does.
        <br>
        😭
      </div>
    </div>
    <div>
      <p>Some other information??</p>
      <button class="btn btn-primary active">
        <div class="continue-play">▶</div>
        <div class="continue-details">
          <strong>Continue Watching</strong>
          <span>S1 E13 - Stuff goes down epically.</span>
        </div>
      </button>
    </div>
    <div class="series-details">
      <span>Type</span><span>TV</span>
      <span>Status</span><span>Finished Airing</span>
      <span>Aired</span><span>Winter 2020 - Summer 2023</span>
      <span>Seasons</span><span>3</span>
      <span>Studio</span><span>The barkers.</span>
    </div>
  </section>
  <section class="animes-body">
    <header class="tabs">
      <div>Episodes</div>
      <div>Secret</div>
    </header>
    <div class="episodes-content">
      <div class="seasons active">
        <div class="season" data-season="1">
          <h3>Season 1</h3>
          <p>The beginning</p>
        </div>
        <div class="season" data-season="2">
          <h3>Season 2</h3>
          <p>The journey</p>
        </div>
        <div class="season" data-season="3">
          <h3>Season 3</h3>
          <p>The culmination, epic finale</p>
        </div>
      </div>
      <div class="episode-list">
        <header class="episode-row"></header>
        <article class="episode-row">
          <span>1</span>
          <img alt="Image for episode 1">
          <h3>The start to let it become epic</h3>
          <time datetime="PT24M">24m</time>
          <div class="quality">
            <span>1080p</span>
          </div>
          <div>✅ Watched</div>
          <div>
            <button>▶</button>
            <button>...</button>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>