<div class="sidebar">
    <nav class="navbar-side panel">
        <a href="#/" class="sidebar-link active">🏠 Home</a>
        <a href="#/seasons" class="sidebar-link">🗓️ Seasons</a>
    </nav>
    <div class="sidebar-quote">
        <span>A little anime brightens the day 🩷</span>
    </div>
</div>

<div class="content">
    <section class="episodes-feed panel" hidden>
        <h2>New episodes for you ></h2>
        <nui-carousel>Nui Carousel</nui-carousel>
    </section>
    <section class="animes panel">
        <header class="season-info">
            <h2>Summer 2026</h2>
            <div class="season-timespan">📆 Jun 2026 - Sep 2026</div>
        </header>
        <div class="categories">
            <button class="btn btn-primary active">All (64)</button>
            <button class="btn btn-primary">TV (42)</button>
            <button class="btn btn-primary" disabled>Movies (8)</button>
        </div>
        <div class="animes-list"></div>
    </section>
</div>
<aside class="utility panel">
    <section class="schedule">
        <h2>Airing today</h2>
        <p>Some schedule goes here!</p>
    </section>
</aside>
<div id="bg-full" class="home-bg"></div>