<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/styles.css">

    <script>
      window.NUUCAST_API_BASE = "{{ nuucast_api_url }}";
      window.NUUWATCH_API_BASE = "{{ nuuwatch_api_url }}";
    </script>

    <script src="/static/js/app.js" type="module"></script>
</head>

<body>
<header class="site-header">
    <nav class="navbar-top">
        <div>
            <div class="logo">
                🐾
                Nuuwatch
            </div>
            <a href="/#">Home</a>
            <a href="/#seasons">Seasons</a>
        </div>
        <div>
            <search-bar>A search bar.</search-bar>
        </div>
    </nav>
</header>
<main class="page-container">
    {% block content %}{% endblock %}
</main>
{% if let Some(scripts_url) = scripts_url %}
<script src="/static/{{ scripts_url }}" type="module"></script>
{% endif %}

<script src="/static/js/nui/nui.js" type="module"></script>
</body>
</html>