:root {
    --color-bg: #2c2c38;
    --color-bg-contrast: #4e4166;
    --color-text: #e1e1e8;
    --color-text-disabled: #6b6b7a;
    --color-link: #a087d2;
    --color-link-hover: #c8acff;
    --color-link-contrast: #c8acff;
    --color-link-disabled: #5c5675;
    --color-link-disabled-bg: hsl(240, 12%, 18%);
}
body {
    min-height: 100dvh;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
}

a {
    color: var(--color-link);
    text-decoration: none;
}
a:visited {
    color: var(--color-link);
}
a:hover {
    color: var(--color-link-hover);
}

.hidden {
    display: none;
}

.explorer {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    margin: 1rem 0;
}

.item-list {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0;

}

.item-card {
    display: flex;
    flex-direction: column;
    width: 96px;
}

.item-body {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    line-break: anywhere;
}

.item-body:hover {
    background-color: var(--color-bg-contrast);
    color: var(--color-link-hover);
}

.item-actions {
    margin-top: 0.25rem;
    padding: 0 0.5rem;
}

.item-actions input[type="submit"] {
    font-size: 0.67em;
    cursor: pointer;
}

.item-directory {

}

item-file {

}

.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.context-menu-item {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.context-menu-item:hover {
    background: #f0f0f0;
}

#upload-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.25rem;
    width: 100%;
    max-width: 30ch;
}

.upload-group {
    display: grid;
    grid-template-columns: 6ch auto;
}

.upload-group label {
}

.upload-file label, .upload-file input[type="file"] {
    cursor: pointer;
}